- content_for :meta_title do
  == Suggestion ##{@inquiry.id}

%h1= yield(:meta_title).strip

%table{ :cellspacing => "0" }
  %tbody
    %tr{ :class => cycle('odd', 'even') }
      %td Name
      %td= @inquiry.name ? @inquiry.name : "Not provided"
    %tr{ :class => cycle('odd', 'even') }
      %td Received
      %td
        %span.hmenu= @inquiry.created_at.strftime("%A, %B %d, %Y at %I:%M %p %Z")
        %span.gray== #{time_ago_in_words(@inquiry.created_at)} ago
    %tr.top{ :class => cycle('odd', 'even') }

%h2 Message

= simple_format(h(@inquiry.inquiry))

= render :partial => "shared/comment_form", :locals => {:owner => @owner}
