- content_for :meta_title do
  == Inquiry ##{@inquiry.id}

%h1= yield(:meta_title).strip

%table{ :cellspacing => "0" }
  %tbody
    %tr{ :class => cycle('odd', 'even') }
      %td Name
      %td= @inquiry.name ? @inquiry.name : "Not provided"
    %tr{ :class => cycle('odd', 'even') }
      %td Received
      %td
        %span.hmenu= @inquiry.created_at.strftime("%A, %B %d, %Y at %I:%M %p %Z")
        %span.gray== #{time_ago_in_words(@inquiry.created_at)} ago
    %tr.top{ :class => cycle('odd', 'even') }

%h2 Message

= simple_format(h(@inquiry.inquiry))

%h2
  %a{:name => "answer_form"}
  Post a response

#answer_form
  - form_for @answer, :url => "#{answer_inquiry_path(@inquiry)}\#answer_form", :html => { :onsubmit => "form_submitted('Posting your response...')" } do |f|
    = f.error_messages :header_message => "Your response could not be posted!", :message => nil
    Name
    = f.label :name
    %br
    = f.text_field :name
    %br
    = f.label :answer
    %br
    = f.text_area :answer, :size => "60x10", :style => "width: 550px;"
    %br
    = hidden_field_tag  "inquiry_id", @inquiry.id, :id => "inquiry_id"
    - fancy_submit do
      = f.submit "Save response"

